<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120893750501-un0t28ndcifaulb7lunfpi0nln71hqjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120893750501-un0t28ndcifaulb7lunfpi0nln71hqjm</string>
	<key>API_KEY</key>
	<string>AIzaSyCjh1tyCEb4WzoGjXD_x8avNQnbFNvNjeA</string>
	<key>GCM_SENDER_ID</key>
	<string>120893750501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jose.NyanChat</string>
	<key>PROJECT_ID</key>
	<string>nyanchat-7abfb</string>
	<key>STORAGE_BUCKET</key>
	<string>nyanchat-7abfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120893750501:ios:b9e7568307d4826a8b280c</string>
</dict>
</plist>